/* style.css file */
html,
body {
  margin: 20px;
}
.btn {
  background: yellow;
  color: #fff;
  padding: 12px 24px;
  border: none;
  transition:
    transform 0.3s,
    box-shadow 0.3s;
}
.btn:hover {
  transform: scale(1.05);
  box-shadow: 0 5px rgba(0, 0, 0, 0.3);
}
